.env
.git
.gitignore
.gitattributes
.vscode
.idea
node_modules
vendor
storage/logs/*
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*
storage/app/backups/*
!storage/app/backups/.gitkeep
public/build
public/hot
docker-compose.yml
*.md
.editorconfig
.npmrc
phpunit.xml
**/.DS_Store
